.card {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .card-action-area {
    flex: 1;
  }
  .card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .card-footer{
      height: 40px;
  }
  .list-footer{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      font-weight: bolder;
      color: #7575;
  }
  .card-image{
    object-fit: cover;
  }